{% extends "base.html" %}
{% load static %}

{% block title %} Welcome to cats gallery {% endblock %}

{% block content %}
<div class="box">
    {{ post.title }} <br>
    {% if post.image %}
    <img src="{{ post.image }}" width="600px">   <br>
    {% endif %}
    {% if post.video %}
        <video src="{{ post.video }}" controls width="600px"></video> <br>
    {% endif %}
    {{ post.date }} <br>
    {{ post.author }} <br>
    {{ post.location }} <br>
    {{ post.category }} <br>
</div>
{% endblock %}
{% block extra_css %}
    <link rel="stylesheet" href="{% static 'css/home_page.css' %}">
{% endblock %}